    <div class="footer text-center">
        <p class="link">
            <a href="">about us</a>|
            <a href="">product</a>|
            <a href="" data-toggle="modal" data-target="#contact-us">contact us</a>
        </p>
        <p class="share-ico">
            <a class="iconfont icon-tuite" href=""></a>
            <a class="iconfont icon-ins" href=""></a>
            <a class="iconfont icon-mianshulogo" href=""></a>
            <a class="iconfont icon-pinterest" href=""></a>
        </p>
        <p>©2017 STRENGTHEN.All Rights Reserved.</p>
        Zanboon technology, technical support
    </div>

    <!--联系我们弹出框-->
    <div class="modal fade" id="contact-us" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">contact us</h4>
                </div>
                <div class="modal-body">
                    <form class="modal-form" action="">
                        <div class="form-group">
                            <label class="sr-only">First name</label>
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Last name</label>
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Telephone</label>
                            <input type="text" class="form-control" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Message</label>
                            <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                        <button class="btn btn-common">SUBMIT</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
